body {
    background-color: #222222;
    color: #DDDDDD;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding: 0 50px 0 50px;
}

div {
    display: flex;
    border: 2px solid;
    padding: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

div.container {
    border: 0px;
    flex-direction: column;
    margin-left: 20px
}

div.service {
    width: 190px;
    border-radius: 5px;
}

img.status {
    margin-right: 2px;
    margin-left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}