:root {
    --color-light: #DDDDDD;
    --color-panel: #333333;
    --color-dark: #222222;
    --color-link: #68BBE3;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: 'Roboto Mono', monospace;
    padding: 0 2vw 0 2vw;
}
h1 {
    margin: 5px 0;
}
h2, h3 {
    margin: 0;
}
a {
    color: var(--color-link);
    text-decoration: none;
    height: 19px;
}
hr {
    color: var(--color-light);
    margin-bottom: 25px;
}
img.icon {
    width: 33px;
    height: 33px;
    margin-left: 10px;
}
img.icon-big {
    width: 43px;
    height: 43px;
}

div {
    display: flex;
    border-radius: 10px;
    padding: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
div.panel {
    border: 0 !important;
    padding: 15px !important;
    background-color: var(--color-panel) !important;
}
div.spaced {
    margin-top: 15px;
    align-items: start !important;
    border-radius: 0;
}
div.spaced > div {
    align-items: start !important;
}
div.spaced > div:not(:first-child), div.spaced > canvas:not(:first-child) {
    margin-left: 10px;
}
div.spaced.vertical > div:not(:first-child), div.spaced.vertical > canvas:not(:first-child) {
    margin-left: 0;
    margin-top: 10px;
}
div.spaced > div > h3 {
    margin-bottom: 5px;
}
div.container {
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    height: min-content;
}
div.box {
    flex-direction: row;
    align-content: space-between;
    padding: 0;
    border: 0;
}
div#main-box {
    min-height: 85vh;
    gap: 20px;
}
div.box.gap {
    gap: 20px;
}
div.box.vertical {
    flex-direction: column;
}
div.box.vertical:not(:first-of-type):not(:last-of-type) {
    align-items: center;
}
div.box.vertical:last-of-type {
    align-items: end;
}

canvas {
    border-radius: 7px;
    background-color: var(--color-dark);
}
div.chart {
    width: 400px;
}
div.chart-small {
    height: 250px;
    width: 350px;
}

div.service {
    width: 190px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 4px;
    background-color: var(--color-dark);
}
img.status {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

div#backups, div#mods {
    flex-direction: column;
    border: 0;
    padding: 0;
    max-height: 140px;
    overflow-y: scroll;
}
div#backups::-webkit-scrollbar-track, div#backups::-webkit-scrollbar, div#backups::-webkit-scrollbar-thumb,
div#mods::-webkit-scrollbar-track, div#mods::-webkit-scrollbar, div#mods::-webkit-scrollbar-thumb {
    display: none;
}
div.backup, div.mod {
    border-radius: 5px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - 10px);
    background-color: var(--color-dark);
}
div.backup span:not(:first-child), div.mod span:not(:first-child) {
    margin-left: 10px;
}
div.backup a, div.mod a {
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
}

div.drive {
    width: 300px;
    border-radius: 7px;
    padding: 3px;
    background-color: var(--color-dark);
}
div.bar {
    background-color: var(--color-light);
    border: 0;
    padding: 0;
    height: 20px;
    border-radius: 5px;
}

div#ip {
    width: auto;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--color-dark);
}

img#mc-icon {
    border-radius: 5px;
    margin-left: 10px;
}
span#version, span#motd, span#players, span#world, span#seed {
    width: fit-content;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: var(--color-dark);
}
div#players {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    border: 0;
    padding: 0;
    border-radius: 0;
    gap: 10px;
    justify-content: start;
    max-height: 140px;
    overflow-y: scroll;
}
div#players::-webkit-scrollbar-track, div#players::-webkit-scrollbar, div#players::-webkit-scrollbar-thumb {
    display: none;
}
div.player {
    width: min-content;
    border-radius: 5px !important;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--color-dark);
}

@media screen and (max-width: 1700px) {
    div.chart {
        width: 300px;
    }
    div.chart-small {
        height: 300px;
        width: 250px;
    }
    @media screen and (max-width: 1300px) {
        div#main-box {
            flex-direction: column;
        }
        div.gap {
            flex-direction: row !important;
        }
        @media screen and (max-width: 1050px) {
            div.gap {
                flex-direction: column !important;
                align-items: center !important;
            }
        }
    }
}